html{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background: rgba(243,243,243,1)
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
    margin: 0;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
}

