.btn_default
    font-size 14px
    height 30px
    min-width 100px
    padding 0 10px
    box-sizing: border-box
    line-height: 30px
    display: flex 
    align-items: center 
    justify-content: center
    border: none 
    color #fff 
    background #00b4cf
    cursor pointer
    i 
        margin-right 5px
    &:hover 
        background #01869a
.btn_dark
    background #435466
    &:hover 
        background: #2d4054